name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build & Test
        run: mvn -B -ntp -Dmaven.test.failure.ignore=false verify
        working-directory: DigitalWishList

  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2024.1
        with:
          use-caches: true
          results-dir: qodana-results
          upload-result: false
